
  <div class="card text-center mx-auto mt-5 shadow-lg border-0" style="width: 50%; background-image: linear-gradient(135deg, #e09, #d0e); border-radius: 15px; overflow: hidden;">
  <div class="card-header text-white bg-primary p-4" style="font-size: 1.25rem; font-weight: bold;">
    Welcome Panel
  </div>
  <div class="card-body p-5" style="background-color: #f9f9f9;">
    <h5 class="card-title mb-4 text-primary">WELCOME HOME, {{userData.name}}</h5>
    <p class="card-text mb-2"><strong>Name:</strong> {{userData.name}}</p>
    <p class="card-text"><strong>Email:</strong> {{userData.email}}</p>
    <a href="/user/logout" class="btn btn-outline-primary mt-4 px-4 py-2 rounded-pill">LOG OUT</a>
  </div>
</div>
